*,
html {
    font-family: 'Rubik', Arial, sans-serif;
}
.trwdth48per>tr>td {
	width: 48% !important; 
}

	#recommendedbar>div{
		
		height:426px !important;
		}
		
		#linebargraph .highcharts-container {
		height:508px !important;
		}
		

	
	






.paddingleft12px

{
	padding-left:12px
}




.width12per{
	
	width:12%;
}


.helpimg{
margin-top: -77px;
    margin-left: 701px;
	width:28px;
}
	
.outlinenone{
	outline:none !important;
}

.displaynone{
	display:none;
}

.displayblock{
	display:block;
}

.btn.btn-default.btn-theme {
    border-color: #898888;
    padding: 7px 87px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    color: #141414;
    background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.width27per{
	
	width:27% !important;
}
.width47per{
	
	width:47% !important;
	
	
}
.width22per{
	
	width:22% !important;
	
	
}
.bgcolorwhiteb{
	background-color:white !important;		
	color:black !important;
}
.goalstabl{
	margin-left:-39px;
	margin-top:-42px
}
.width48per>tr>td{
width: 48% !important;
}

.goaldetaltab{
	margin-left:-30px;
	margin-top:-42px
}
.marginleftms30px{
	
		margin-left:-30px;
}

    .width23per{
	    width: 23% !important;
	
	}
	.width75per{
	
	width:75% !important;
	text-align: left !important;
	}
	
.width50left{
	width: 50% !important;
    text-align: left !important;
}
.textalignleft{
	text-align:left !important;
}
.incomeaccordian{
	width:104%;
	margin-left:3px;
}
.marginleftmins32px{
	margin-left:-32px !important;
}
.bgcolorwhite{
	background-color:white !important;
}
.expensesform{
	margin-left: -17px !important;
	width: 91% !important;
	margin-top:-37px;
}
.surplusform{
	margin-left: -17px;
	width: 95%;
	margin-top:-35px;
}
.marginleftmin60{
	margin-left:-60px !important;
}

#ratiotable{
	margin-left:-44px !important;
	margin-top:-33px !important;
}
.marginleft26px{
	margin-left:-26px !important;
}
.marginlt2516px{
	margin-left:-25px !important;
	margin-top:16px !important;
}
.marginleftmis69{
	margin-left:-69px !important;
}
.marginleftmin36{
	margin-left: -36px !important;
}
.bargraphdiv{
	margin-left:66px !important;
}
.marginleft66px{
	margin-left:66px !important;
}
.marginleft11px{
	margin-left:11px !important;
}
.bargraphdiv>div{
	margin-left:11px !important;
}
.bargraphdiv>div>div{
	width: 90%;
	margin-left:-46px;
	height:90%
}
#net{
	width: 60%;
	margin-left:-56px;
	height:60%;
}
#loanpayment{
	width: 90%;
	margin-left:-46px;
	height:90%;
}
#outstandingloan{
	width: 55% !important;
	margin-left:-46px !important;
	height:70% !important;
}
.keyassumptionsdiv{
	margin-left:18px;
	padding-top:17px;
}
.keyassumptionsdiv>label{
	margin-top:14px;
}

.surplustable{
	margin-left:-24px;
}
.marginleft35px{
	margin-left:35px;
}
.keyassumptiontable{
	margin-left:-75px;
	margin-top:21px;
}
.marginleft23px{
	margin-left:23px;
}
.height29{
	height:29px;
}




#tabcontainer{
	margin:50px auto;
	width:70%
}
.maincontainer{
	margin:50px auto;
	width:924px;
}
.loansform{
	margin-left: 0px;
	width: 100%
}
#accordian_formgroup{
	margin-left:-17px;
	width:91%;
	margin-top:-35px
}
.anualincome_cont1{
	margin:50px auto;
	width:83%;
	margin-top:-19px;
}
.anualincome_cont2{
	width:136%;
}
.marginleftmin93{
	margin-left:-93px !important;
}
.annualcol1{
	margin-left:-93px;
	margin-top:11px;
}
.amounttab{
	    margin-top: -39px;
    margin-left: -17px;
	
}
.width20per{
	width:20% !important;
	
	
}

.width13per{
	
	width:13% !important;
}
.annualcol1 .tblinput{
	margin-left:81px !important;
}

.margintop10px{
	    margin-top: 10px !important;
	
	}

.recommentedtab{
	margin-left: 75px;
	margin-top:-45px;
}
.width49left{
	width:49% !important;
	text-align:left !important;
}
.width49{
	width:49% !important;
}

.width44per{
	width:44% !important;
}
.width30per{
	width:30% !important;
}
.width44perleft{
	width:44% !important;
	text-align:left !important;
}
#chartexpenses{
	height:50%; 
	width:50%;
	margin-left:84px;
	margin-top:-15px;
}
/* Table header and footer bg */
#data1>tr>td {
	text-align:right;
	padding:3px;
	width:106px !important;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#theadt1>tr>th {
	text-align:center;
	padding:3px;
	width:106px !important;
	word-wrap: break-word !important;
	display: inline-block !important;
}	
.selected {   
	border: solid #2196f3 2px;
	border-collapse: collapse;
	border-radius: 9px !important;
    box-shadow: 0 0px 0px rgba(82,168,236,.8) inset, 0 0 8px rgba(82,168,236,.8);
}
#panel-1011-body{
	overflow: hidden !important;
	background-color: white !important;
}
#tabs-5{font-size: 14px;}
.ui-widget-header {
	background:#b9cd6d;
	border: 1px solid white;
	color: #FFFFFF;
	font-weight: bold;
}
#inputh>tr>th{
	text-align:center;
	padding:3px;
	width:32%;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#inputd>tr>td
{
	text-align:right;
	padding:3px;
	width:32%;
	word-wrap: break-word !important;
	display: inline-block !important;
	vertical-align:initial;
}
#inputd1>tr>td 
{
	text-align:left ;
	padding:5px;
	width:20%;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#inputd1>tr>td>input
{
	font-size:14px;
	text-align:center;
}
#inputh1>tr>th{
	text-align:center !important;
	padding:5px;
	width:20%;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#chartannualexpenses{
	height:20%;
	width:50%;
	margin-left:84px;
	margin-top:-11px;
}
.bargraphexpenses{
	width: 100%;
	margin-left:-108px;
	height:90%;
}
.width24per{
	width:24% !important;
}
.width20per{
	width:20% !important;
}
.width103per{
	width:103%;
}
.marginleft17px{
	margin-left:17px;
}
.marginleft20px{
	margin-left:20px;
}
.marginleft30px{
	margin-left:30px;
}
.marginleft36px{
	margin-left:36px;
}
.marginleft33px{
	margin-left:33px;
}
.mrgnltmn33px{
	margin-left:-33px;
}
.marginleft27px{
	margin-left:27px;
}
.marginleft19px{
	margin-left:19px;
}
.marginleft22px{
	margin-left:22px;
}
.Iexpensesth >tr> th {
	width:25%;
	text-align:center !important;
	padding:3px;
	word-wrap: break-word !important;
	display: inline-block !important;
}
.Iexpensestd>tr>td
{
	width:25%;
	text-align:right !important;
	padding:3px;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#comittedtd>tr>td {
    text-align: right;
    padding: 3px;
    width: 33%;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#comittedth>tr>th {
    text-align: center !important;
    padding: 3px;
    width: 33%;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#totalloansth>tr>th {
    text-align: center;
    padding: 3px;
    width: 132px;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#totalloanstd>tr>td {
    text-align: right;
    padding: 3px;
    width: 132px;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#sbiloansth>tr>th {
    text-align: center;
    padding: 3px;
    width: 99px;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#sbiloanstd>tr>td {
    text-align: right;
    padding: 3px;
    width: 99px;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#loanstd>tr>td {
    text-align: right;
    padding: 3px;
    width: 10%;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#loansth>tr>th {
    text-align: center !important;
    padding: 3px;
    width: 10%;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#annexpensesth>tr>th {
    text-align: center;
    padding: 3px;
    width: 33%;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#netsurplusth>tr>th {
    text-align: center;
    padding: 3px;
    width: 107px !important;
    word-wrap: break-word !important;
    display: inline-block !important;
}
#netsurplustd>tr>td {
    text-align: right;
    padding: 3px;
    width: 107px !important;
    word-wrap: break-word !important;
    display: inline-block !important;
}
table tbody tr:nth-child(even)
{
	background-color: #F0F8FF;
}
#data>tr>td ,#theadt>tr>th
{
	text-align:center;
	padding:3px;
	width:84px !important;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#data>tr ,#theadt>tr{
	display: block !important; 
}
#tblinput #expensesth>tr>th
{
	text-align:center !important;
	padding:3px;
	width:19% !important;
	word-wrap: break-word !important;
	display: inline-block !important;
}
#tblinput #expensestd>tr>td
{
	text-align:right !important;
	padding:3px;
	width:19% !important;
	word-wrap: break-word !important;
	display: inline-block !important;
	vertical-align:initial;
}

#chartannualexpenses #highcharts-es634fv-4{
	height: 274px !important;
}
#inputh>tr,#inputh tr:last-of-type, #theadt1>tr, #inputh1>tr, #annexpensesth>tr ,#expensesth>tr, #loansth>tr,#sbiloansth>tr,#totalloansth>tr, #netsurplusth>tr,#budgetratioth>tr,#comittedth>tr, .Iexpensesth>tr{
	color:white;
	background-color:#337ab7;
}

#inputd>tr>td>label{
	text-align:Right;
}

table tbody tr td:first-child{
	text-align:left;
}
.loansform{
	margin-left: 0px;
	width: 100%;
}
.loansaccordian{
	width: 90%;
	margin-left: -14px;
	margin-top: -34px;
}







/* used */

.widthtalign{
	
width:112px;
text-align:center;
}

.paddingleft5px{
	padding-left:5px;
}

.width17per{
	width:17%;
}
.textaligncenter{
	text-align:center !important;
}

.white_blue{
	background-color:#337ab7 !important;
	color:white !important;
}



.width52per{
	width:52%;
	
}
.producttable{
	margin-left: 9px;
	   
    margin-top:23px !important;
	
}

.width8per{
	width:8%;
}
.paddingleft17px{
	padding-left:17px
}

.amtenur td{
	text-align:center !important;
}

.paddingright7px{
	padding-right:7px;
}
.marginleft17px{
	margin-left:17px;
}

.aligncenter{
	text-align:center !important;
}

