<script src="../Common/assets/js/sidebar-plan.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="addactive">Logo(On screen as well)</span></a>
		<!--<ul class="nav-pills nav-stacked nestedpersonalp">
			<li><a href="#" class="budgetdash">Dashboard <span class="budgetdash_arrow" >&#8594;</span></a> </li>
			<li><a href="#" class="budgetinput">Input <span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="budgetplanning">Budget Planning Report <span class="budgetplanning_arrow">&#8594;</span></a></li>
		</ul>-->
	</li>
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeincome">Header, Footer etc.</span></a>
	<!--<ul class="nav-pills nav-stacked nestedincome">
		<li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
	</ul>-->
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span>Assumptions, Disclaimers etc.</span></a>
	<!--<ul class="nav-pills nav-stacked nestedportfolio">
		<li><a href="#" class="portfoliodash">Dashboard <span class="portfoliodash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="portfolioinput">Input <span class="portfolioinput_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="portfolioplanning">Portfolio Planning Report <span class="portfolioplanning_arrow" >&#8594;</span></a></li>
	</ul>-->
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeportfolio">Customize Recommendations </span></a>
	<!--<ul class="nav-pills nav-stacked nestedfinancial">
		<li><a href="#" class="financialdash">Dashboard <span class="financialdash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="financialInput">Input <span class="financialInput_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="financialplanning">Financial Planning Report <span class="financialplanning_arrow" >&#8594;</span></a></li>
	</ul>-->
</li>
</ul>