<script src="../Common/assets/js/mybusiness_sidebar_plan.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="personalp">Standard Email templates</span></a>
		<!--<ul class="nav-pills nav-stacked cipersonal">
			<li><a href="#" class="pi">Personal Information <span class="pi_arrow">&#8594;</span></a> </li>
			<li><a href="#" class="fi">Family Information<span class="fi_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="cd">Contact Details <span class="cd_arrow">&#8594;</span></a></li>
			<li><a href="#" class="le">Life Expectancy <span class="le_arrow">&#8594;</span></a></li>
		</ul>-->
	</li>


</ul>