<script src="../Common/assets/js/mybusiness_sidebar_plan.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="">User Creation</span></a>
		<ul class="nav-pills nav-stacked cipersonal">
		<li class="user_creation"><a href="#">Create User <span class="pi_arrow">&#8594;</span></a> </li>
		<li class="user_upload"><a href="#">Bulk Upload <span class="pi_arrow">&#8594;</span></a> </li>
		</ul>
	</li>


<li class="has-submenu user_password_management">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span>Manage Password</span></a>
	<!--<ul class="nav-pills nav-stacked cincome">
		<li><a href="#" class="fai">Family Income <span class="fai_arrow">&#8594;</span></a></li>
		<li><a href="#" class="he">Household Expense<span class="he_arrow">&#8594;</span></a></li>
		<li><a href="#" class="gpr">Goal Planning Report <span class="gpr_arrow">&#8594;</span></a></li>
	</ul>-->
</li>
<li class="has-submenu user_role_creation">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span>User Role Creation</span></a>
	<!--<ul class="nav-pills nav-stacked cincome">
		<li><a href="#" class="fai">Family Income <span class="fai_arrow">&#8594;</span></a></li>
		<li><a href="#" class="he">Household Expense<span class="he_arrow">&#8594;</span></a></li>
		<li><a href="#" class="gpr">Goal Planning Report <span class="gpr_arrow">&#8594;</span></a></li>
	</ul>-->
</li>



<li class="has-submenu user_role_remapping">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span>User Role Remapping</span></a>
	<!--<ul class="nav-pills nav-stacked portfolio">
		<li><a href="#" class="mfpms">MF/PMS/ETF<span class="mfpms_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="eqt">Equity<span class="eqt_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="fixedi">Fixed Income <span class="fixedi_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="retirement">Retirement Schemes <span class="retirement_arrow">&#8594;</span></a></li>
		<li><a href="#" class="smallsvng">Small Saving Schemes <span class="smallsvng_arrow">&#8594;</span></a></li>
		<li><a href="#" class="altinvest">Alternate Investment<span class="altinvest_arrow">&#8594;</span></a></li>
		<li><a href="#" class="cash">Cash<span class="cash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="lumpflow">Lumpsum Inflows <span class="lumpflow_arrow">&#8594;</span></a></li>
	</ul>-->
</li>
<li class="has-submenu hierarchy_mapping">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span>Hierarchy Mapping</span></a>
	<!--<ul class="nav-pills nav-stacked insurance">
		<li><a href="#" class="lifeins">Life Insurance<span class="lifeins_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="nonlifeins">Non-Life Insurance<span class="nonlifeins_arrow" >&#8594;</span></a></li>
	</ul>-->
</li>
<li class="has-submenu cigoals access_rights">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span>Access Rights</span></a>
	
</li>
<li class="has-submenu loggedin-history">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span>Logged-in History</span></a>
	
</li>



</ul>