
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="personalp">Helpline</span></a>
		<!--<ul class="nav-pills nav-stacked cipersonal">
			<li><a href="#" class="pi">Personal Information <span class="pi_arrow">&#8594;</span></a> </li>
			<li><a href="#" class="fi">Family Information<span class="fi_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="cd">Contact Details <span class="cd_arrow">&#8594;</span></a></li>
			<li><a href="#" class="le">Life Expectancy <span class="le_arrow">&#8594;</span></a></li>
		</ul>-->
	</li>
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="incomeex">Email </span></a>
	<!--<ul class="nav-pills nav-stacked cincome">
		<li><a href="#" class="fai">Family Income <span class="fai_arrow">&#8594;</span></a></li>
		<li><a href="#" class="he">Household Expense<span class="he_arrow">&#8594;</span></a></li>
		<li><a href="#" class="gpr">Goal Planning Report <span class="gpr_arrow">&#8594;</span></a></li>
	</ul>-->
</li>




<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeportfolio">Chat</span></a>
	<!--<ul class="nav-pills nav-stacked portfolio">
		<li><a href="#" class="mfpms">MF/PMS/ETF<span class="mfpms_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="eqt">Equity<span class="eqt_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="fixedi">Fixed Income <span class="fixedi_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="retirement">Retirement Schemes <span class="retirement_arrow">&#8594;</span></a></li>
		<li><a href="#" class="smallsvng">Small Saving Schemes <span class="smallsvng_arrow">&#8594;</span></a></li>
		<li><a href="#" class="altinvest">Alternate Investment<span class="altinvest_arrow">&#8594;</span></a></li>
		<li><a href="#" class="cash">Cash<span class="cash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="lumpflow">Lumpsum Inflows <span class="lumpflow_arrow">&#8594;</span></a></li>
	</ul>-->
</li>


</ul>