
<script src="../Common/assets/js/myclient_wrapper.js"></script>

<div id="page-content-wrapper">
	
	<div id="wrapperdata">
	<h3 class="dashboardheading"></h3>
	<div class="row form-section-container">
		<div id="dashbord" style="height:483px"></div>
	</div>
	</div>
	
	
	
</div>
<link href="../Common/assets/css/dashboard.css" rel="stylesheet">
<script src="../Common/assets/js-library/jssor.slider-23.1.6.mini.js" type="text/javascript"></script>
<script src="../Common/assets/js-library/jquery-more.js"></script>
<script src="../Common/assets/js-library/highcharts.js"></script>

	