<script src="../Common/assets/js/myclient_sidebar_resources.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="addactive">Product Calculators</span></a>
		<ul class="nav-pills nav-stacked nestedpersonalp">
			<li><a href="#" class="budgetdash">Product Calculators1 <span class="budgetdash_arrow" >&#8594;</span></a> </li>
			<li><a href="#" class="budgetinput">Product Calculators2 <span class="budgetinput_arrow">&#8594;</span> </a></li>
			
		</ul>
	</li>
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeincome">Product Literature</span></a>
	<ul class="nav-pills nav-stacked nestedincome">
		<li><a href="#" class="goaldash">Product Literature1 <span class="goaldash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="inputplanning">Product Literature2<span class="goalinput_arrow" >&#8594;</span></a></li>
		
	</ul>
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span>Glossary</span></a>
	<ul class="nav-pills nav-stacked nestedportfolio">
		<li><a href="#" class="portfoliodash">Glossary1 <span class="portfoliodash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="portfolioinput">Glossary2 <span class="portfolioinput_arrow" >&#8594;</span></a></li>
		
	</ul>
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeportfolio">Other Resources</span></a>
	<ul class="nav-pills nav-stacked nestedfinancial">
		<li><a href="#" class="financialdash">Other Resources1 <span class="financialdash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="financialInput">Other Resources2 <span class="financialInput_arrow" >&#8594;</span></a></li>
		
	</ul>
</li>
</ul>