<script src="../Common/assets/js/myclient_sidebar_reports.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="addactive">Latest Reports</span></a>
		<ul class="nav-pills nav-stacked nestedpersonalp">
			<li><a href="#" class="budgetdash">Latest Report1 <span class="budgetdash_arrow" >&#8594;</span></a> </li>
			<li><a href="#" class="budgetinput">Latest Report2 <span class="budgetinput_arrow">&#8594;</span> </a></li>
			
		</ul>
	</li>
</li>
<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeincome">Report Archives</span></a>
	<ul class="nav-pills nav-stacked nestedincome">
		<li><a href="#" class="goaldash">Report Archive1<span class="goaldash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="inputplanning">Report Archive2<span class="goalinput_arrow" >&#8594;</span></a></li>
		
	</ul>
</li>


</ul>